*{
margin:0;
padding:0;
list-style:none
}
.header{
	position:relative;
	height:80vh;
	font-family: 'Roboto', sans-serif;
	}
	.back img{
	position:absolute;
	right:0;
	z-index:-1;
	}

.nav{
	width:100%;
	height:60px;
	padding:1px;
	box-sizing:border-box;
}
.nav img{
	float:left;
	margin-left:5%;
}
	
.nav ul{
	float:left;
width:100%;
	height:60px;
	margin-left:45%;
	margin-top:-30px;
}
.nav ul li{
float:left;
margin-left:2%;
text-transform:capitalize;
}
.two{
	margin-left:80%;
	margin-top:10px;
	height:40px;
	width:10%;
	padding:10px 0px;
	box-sizing:border-box;
	text-align:center;
	border-radius:50px;
	background:linear-gradient(to right, red, yellow);
}
.two:hover{
	background:linear-gradient(to left, red, yellow);
}
.three{
	margin-left:5%;
}
.three h3{
	margin-top:70px;
	text-transform:uppercase;
	color:grey;
}
.three h1{
	margin-top:30px;
	text-transform:capitalize;
	font-size:70px;
	color:purple;
}
.three p{
	margin-top:30px;
	color:grey;
}
.four{
	margin-left:7%;
	margin-top:50px;
	height:40px;
	width:10%;
	padding:10px 0px;
	box-sizing:border-box;
	text-align:center;
	border-radius:50px;
	background:linear-gradient(to right, red, yellow);
}
.four:hover{
	background:linear-gradient(to left, red, yellow);
}
.five{

	margin-left:20%;
		margin-top:-35px;
	height:40px;
	width:10%;
	position:absolute;
	background:transparent;
	padding:10px 0px;
	box-sizing:border-box;
	text-align:center;
	border-radius:50px;
	border:1px solid black;
}
.five:hover{
	background:linear-gradient(to right, red, yellow);
}
.six{
width:40%;
height:400px;
}
.six img{
	position:absolute;
	right:0;
	z-index:-1;
	padding:1px;
    right:0px;
	top:150px;
	box-sizing:border-box;
}
.seven{
	position:absolute;
	height:500px;
	width:100%;
}
.box2{
	position:absolute;
	height:400px;
	width:22%;
	border:1px solid grey;
	text-align:center;
}
.box2 h1{
	color:purple;
	font-size:35px;
	margin-top:50px;
}
.box2 p{
	color:grey;
	font-size:15px;
	margin-top:50px;
}
	.eight{
	margin-top:40px;
	height:40px;
	margin-left:30%;
	width:30%;
	padding:10px 0px;
	box-sizing:border-box;
	text-align:center;
	border-radius:50px;
	background:linear-gradient(to right, red, yellow);
}
.eight:hover{
	background:linear-gradient(to left, red, yellow);
}
.box3{
	position:absolute;
	height:400px;
	width:22%;
	border:1px solid grey;
	text-align:center;
	left:25%;
}
.box3:hover {
	border:1px solid red;
}
.box3 i{
	color:white;
	font-size:50px;
	border-radius:50px;
	padding:10px;
	box-sizing:border-box;
	
}
.box3 i:hover{
	background:linear-gradient(to left, red, yellow);
}
.box3 h1{
	color:purple;
	font-size:35px;
		margin-top:50px;
}
.box3 p{
	color:grey;
	font-size:15px;
	margin-top:50px;
}

.box4{
	position:absolute;
	height:400px;
	width:22%;
	border:1px solid grey;
	text-align:center;
	left:50%;
}
.box4:hover {
	border:1px solid red;
}
.box4 i{
	font-size:50px;
	color:white;
	border-radius:100px;
	padding:10px;
	box-sizing:border-box;
}
.box4 i:hover{
	background:linear-gradient(to left, red, yellow);
}
.box4 h1{
	color:purple;
	font-size:35px;
		margin-top:50px;
}
.box4 p{
	color:grey;
	font-size:15px;
	margin-top:50px;
}

.box5{
	position:absolute;
	height:400px;
	width:22%;
	border:1px solid grey;
	text-align:center;
	left:75%;
}
.box5:hover {
	border:1px solid red;
}
.box5 i{
	font-size:50px;
	color:white;
		border-radius:100px;
	padding:10px;
	box-sizing:border-box;
}
.box5 i:hover{
	background:linear-gradient(to left, red, yellow);
}
.box5 h1{
	color:purple;
	font-size:35px;
		margin-top:50px;
}
.box5 p{
	color:grey;
	font-size:15px;
	margin-top:50px;
}
